<app-loading *ngIf="validar"></app-loading>
<app-header></app-header>
<div class="dashboard">
<div class="title-contenedor">
 <h2>Imagenes Disney</h2>
</div>

<div class="contenedor-character">



 <ul>
  <li  *ngFor="let ficha of ListAllCharacters" >
    <div class="character" >
      <div class="cabecera-name-character">
        <h4>{{ficha.name}}</h4>
      </div>
      <img class="dash-img" src="{{ficha.imageUrl}}">
      <table class="table-info">
        <tr>
          <td><strong>Fecha</strong></td>
          <td>{{ficha.createdAt}}</td>
        </tr>
        <tr>
          <td><strong>Informacion</strong></td>
          <td><a href="{{ficha.sourceUrl}}" target="_blank">Click Aqui</a></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </table>
   </div>
   </li>
  </ul>


</div>
</div>
