<app-loading *ngIf="validar"></app-loading>
<app-notfound *ngIf="validarPage"></app-notfound>
<app-header></app-header>
<div class="dashboard">
<div class="title-contenedor">
 <h2>Dashboard Disney</h2>
</div>
<div class="brand-title">

</div>

 <div class="header-container-search">
  <input  class="form-control search" placeholder=" * buscar Caracter" (keyup)="search($event)">
</div>

<div class="contenedor-character">
 <ul>
  <li  *ngFor="let ficha of ListAllCharacters" >
    <div class="character" (click)="caracter(ficha)" >
      <div class="cabecera-name-character">
        <h4>{{ficha.name}}</h4>
      </div>
      <img class="dash-img" src="{{ficha.imageUrl}}">
      <table class="table-info">
        <tr>
          <td><strong>Fecha creación:</strong></td>
          <td>{{ficha.createdAt}}</td>
        </tr>

      </table>
   </div>
   </li>
  </ul>


</div>
</div>

